# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.env
.env.*

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Logs
*.log
*.txt
logs/

# IDE / editor
.vscode/
.idea/

# OS
.DS_Store

# Coverage
.coverage
htmlcov/
tests/

# PyTest
.pytest_cache/


run_tests.py
raw-scores.png
